.main_blog_details .user_details .float-left a {
    display: inline-block;
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 0px 20px;
    font-size: 12px;
    color: #415094;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 28px;
    background: #f9f9ff;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
